html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background-color: #e5e5e5;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 100;
    letter-spacing: 1.2px;
}

.cont {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 4%;
    background-color: #fff;
}

ul {
    display: inline-block;
    position: relative;
    list-style-type: none;
    text-align: justify;
    width: 33.33%;
    padding: 0;
    padding-top: 1px;
    margin: 0;
    overflow: hidden;
    background-color: none;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
}

li {
    float: left;
    text-shadow: 2px 2px 7px #000000;
}

.cont-right {
    float: right;
    width: 30%;
}
.rightobj {
    float: right;
    padding-right: 5%;
}

.leftobj {
    float: left;
    padding-left: 2%;
}
.cont-left {
    float: left;
    width: 25%;
}

.centerobj {
    position: absolute;
    width: 20%;
    left: 40%;
    background-color: transparent;
}

.pagetitle {
    background-color: transparent;
    width: 100%;
    padding: 0;
    display: inline-block;
    float: none;
    font-family: "Helvetica Neue", serif;
    font-weight: 300;
    letter-spacing: 4px;
    text-shadow: none;
     background: linear-gradient(#396f83, #039768);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

li:hover {
    background-color: #fff;
    background: linear-gradient(#396f83, #039768);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.9;
    text-shadow: none;
    font-family: inherit;
    font-weight: 300;
}

.active {
background-color:#4CAF50;
}

/* image gallery */

.wrap {
   overflow: hidden;
   margin: 10px;
}
.box {
   float: left;
   position: relative;
   width: 25%;
   padding-bottom: 25%;
}
.boxInner {
   position: absolute;
   left: 5px;
   right: 5px;
   top: 5px;
   bottom: 5px;
   overflow: hidden;
}
.boxInner img {
   width: 100%;
}

.boxInner .titleBox {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   margin-bottom: 0;
   background: #e5e5e5;
    color: #058890;
   padding: 10px;
   text-align: center;
   font-weight: 200;
}

.titleBox:not(:hover) {
    color: transparent;
    text-shadow: none;
    background: transparent;
}

@media only screen and (max-width : 480px) {
   /* Smartphone view: 1 tile */
   .box {
      width: 100%;
      padding-bottom: 100%;
   }
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
   /* Tablet view: 2 tiles */
   .box {
      width: 50%;
      padding-bottom: 50%;
   }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
   /* Small desktop / ipad view: 3 tiles */
   .box {
      width: 33.3%;
      padding-bottom: 33.3%;
   }
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
   /* Medium desktop: 4 tiles */
   .box {
      width: 25%;
      padding-bottom: 25%;
   }
}