body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #f3f3f3;
}

a {
    text-decoration: none;
}

.pagecontainer {
    position: relative;
    width: 100%;
    height: inherit;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.contentcontainer {
    float: left;
    display: block;
    width: 33.33%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.imgcontainer {
    float: left;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

img {
    width: 100%;
}

.midcontent {
    height: 100%;
    width: 100%;
}

.nameheader {
    display: table;
    padding: 0;
    margin: 0;
    height: 33.33%;
    width: inherit;
}

.nameheader h1 {
    background: linear-gradient(#396f83, #039768);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: "big john";
    font-size: 80px;
}

.about {
    display: table;
    height: 16.65%;
    width: inherit;
    padding: 0;
    margin: 0;
    text-align: center;
}

.about:hover {
    background-image: url("images/mungai1.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}

a h3 {
    text-align: center;
}

.about a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.about a:hover {
    background: linear-gradient(#396f83, #039768);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about h3 {
    vertical-align: middle;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: "Helvetica Neue";
    font-weight: 200;
    font-size: 40px;
    color: #e5e5e5;
}

.contentlinks {
    height: 50%;
    width: inherit;
}

.contentlinks ul {
    height: 100%;
    width: inherit;
    list-style: none;
    padding: 0;
    margin: 0;
}

.contentlist {
    float: left;
    width: 50%;
    height: 50%;
    padding: 0;
    margin: 0;
}

#design {
    display: table;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    text-align: center;
    
}

#design:hover {
    background-image: url("images/designimg/unluckies2.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}

#art {
    display: table;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    text-align: center;
}

#art:hover {
    background-image: url("images/artimg/eyelight.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}

#photo {
    display: table;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    text-align: center;
}

#photo:hover {
    background-image: url("images/china1.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}


#contact {
    display: table;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    text-align: center;
}

#contact:hover {
    background-image: url("images/mungaibling.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}


.contentlist a {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    margin: 0;
}

.contentlist a:hover {
    background: linear-gradient(#396f83, #039768);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.contentlinks p {
    font-family: "Helvetica Neue";
    font-weight: 200;
    font-size: 40px;
    color: #e5e5e5;
    padding: 0;
    margin: 0;
    
}